* {
  text-align: center;
}

body {
  background-image: url("./wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 45px;
  font-family: Verdana;
  color: white;
  text-align: center;
}

#gameLetters {
  display: inline;
  list-style-type: none;
  font-size: 80px;
  font-family: Verdana;
  color: white;
}

#startButton {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
}

#newWord {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 200px;
}

#lettersUsed {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Verdana;
  font-size: 40px;
  color: white;
}

#submitGuesses {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
}

#counter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Verdana;
  font-size: 40px;
  color: white;
}

#tried {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Verdana;
  font-size: 40px;
  color: white;
}


